<a href="https://colab.research.google.com/github/andres-4916/AID-P2-T3-Ejercicios-en-python-pandas/blob/main/Ejercicio1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd

ini = int(input('Introduce el año inicial: '))
fin = int(input('Introduce el año final: '))
ventas = {}
for i in range(ini, fin+1):
    ventas[i] = float(input('Introduce las ventas del año ' + str(i) +': '))
ventas = pd.Series(ventas)
print('Ventas\n', ventas)
print('Ventas con descuento\n', ventas*0.9)

Introduce el año inicial: 2009
Introduce el año final: 2012
Introduce las ventas del año 2009: 1000
Introduce las ventas del año 2010: 200
Introduce las ventas del año 2011: 25
Introduce las ventas del año 2012: 1245
Ventas
 2009    1000.0
2010     200.0
2011      25.0
2012    1245.0
dtype: float64
Ventas con descuento
 2009     900.0
2010     180.0
2011      22.5
2012    1120.5
dtype: float64